


<ul class="nav justify-content">
<li class="nav-item ml-auto"> <!-- Agrega la clase ml-auto aquí -->
  <div class="container-fluid">
    <img src="favicon.ico" alt="Bootstrap" width="80" height="80">
    <a class="navbar-brand" href="#">IThings</a>
  </div>
</li>

 

  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/tickets">Tickets</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/login">Ver Tickets</a>
  </li>
  <li>
    <a class="nav-link" routerLink="/help">Ayuda</a>
  </li>
  <li>
    <button class="btn">
      Login<i class="fa-solid fa-user"></i>
    </button>
  </li>

  <li>
    <button class="prefereceSP">ES <img src="/assets/img/spain.png" alt=""></button>
    <button class="prefereceEN">EN <img src="/assets/img/england.png" alt=""></button>
  </li>
</ul>
