<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link" href="#" aria-current="page" routerLink="/">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/new">Tickets</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/tickets">Ver Tickets</a>
  </li>
  <li>
    <a class="nav-link" routerLink="/help">Ayuda</a>
  </li>
  <li class="boton">
    <button class="btn" (click)="logout()">Logout<i class="fa-solid fa-user"></i></button>
  </li>
  <li>
    <button type="button" class="btn" [class.active]="esButtonPressed" (click)="toggleButtons('es')">ES<img src="https://static.parastorage.com/services/linguist-flags/1.663.0/assets/flags/round/ESP.png" srcset="https://static.parastorage.com/services/linguist-flags/1.663.0/assets/flags/round/ESP.png, https://static.parastorage.com/services/linguist-flags/1.663.0/assets/flags/round/ESP_2x.png 2x" alt="Spanish"></button>
    <button type="button" class="btn" [class.active]="enButtonPressed" (click)="toggleButtons('en')">EN<img src="https://static.parastorage.com/services/linguist-flags/1.663.0/assets/flags/round/GBR.png" srcset="https://static.parastorage.com/services/linguist-flags/1.663.0/assets/flags/round/GBR.png, https://static.parastorage.com/services/linguist-flags/1.663.0/assets/flags/round/GBR_2x.png 2x" alt="English"></button>
  </li>
</ul>