<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <!-- Contenedor Izquierdo -->
    <div class="div1 col-md-6">
      <div class="d-flex flex-column align-items-center">
        <h2>Información de interés</h2>
        <!-- Contenido adicional del contenedor izquierdo -->
        <p>El sistema de gestión de incidencias tiene como objetivo principal facilitar la recopilación, manejo y
          resolución eficiente de problemas o inconvenientes que los clientes puedan experimentar. Este sistema
          proporciona dos interfaces de entrada: una a través de una aplicación web y otra mediante una petición API.
          Nuestro Sistema de Gestión de Incidencias se erige como una solución completa y versátil que busca optimizar
          la experiencia del cliente y fortalecer la eficacia en la resolución de problemas. Estamos a su disposición
          para proporcionar más detalles o realizar demostraciones según sea necesario.
        </p>
      </div>
    </div>
    <!-- Contenedor Derecho -->
    <div class="div2 col-md-6 text-white">
      <form class="d-flex flex-column align-items-center justify-content-center h-100">
        <div class="logotipe text-center"> <!-- Centra el contenido -->
          <h2>Acceso</h2>
          <div class="d-grid gap-2 col-12 mx-auto">
            <a class="btn" href="/homepage" type="button">Acceso sin inicio de sesión</a>
            <a class="btn" href="/login" type="button">Otro tipo de acceso</a>
          </div>
          <img src="/assets/img/IoTlogo.png" alt="">
        </div>
      </form>
    </div>
  </div>
</div>

