<!-- Agregar el botón para abrir el modal -->
<div>
    <button type="button" class="btn btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Ver Comentarios
    </button>
</div>

<!-- Definir el modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Comentarios</h5>
                <button type="button" class="btn-close btn-primary" data-bs-dismiss="modal" aria-label="Close" id="hola"></button>
            </div>
            <div class="modal-body">
                <div *ngFor="let message of messages">
                    <p>{{ message.Content }}</p>
                    <div *ngIf="message.AttachmentPaths && message.AttachmentPaths.length > 0">
                        <div *ngFor="let attachment of message.AttachmentPaths let last = last">
                            <button *ngIf="!last" type="button" class="btn" (click)="downloadAttachment(attachment)">Descargar Adjunto</button>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
