<div class="container">
    <h1 class="my-4">Incidencia</h1>
    <form>
        <div class="row gy-1">
            <div class="col-6">
                <div class="p-3"> 
                    <label for="" class="ticketdata"><u>Titulo</u></label>
                    <p class="ticketdata">{{ ticket.title }}</p>
                </div>
            </div>
            <div class="col-6">
                <div class="p-3"> 
                    <label for="" class="ticketdata"><u>Nombre del Usuario</u></label>
                    <p class="ticketdata">{{ ticket.name }}</p>
                </div>
            </div>
            <div class="col-6">
                <div class="p-3">
                    <label for="" class="ticketdata"><u>Email del Usuario</u></label>
                    <p class="ticketdata">{{ ticket.email }}</p>
                </div>
            </div>
            <div class="col-6">
                <div class="p-3">
                    <label for="" class="ticketdata"><u>Fecha de Creación</u></label>
                    <p class="ticketdata">{{ ticket.timestamp }}</p>
                </div>
            </div>
            <div class="col-6">
                <div class="p-3">
                    <label for="" class="ticketdata"><u>Prioridad</u></label>
                    <p class="ticketdata">{{ ticket.priority }}</p>
                </div>
            </div>
            <div class="col-6">
                <div class="p-3">
                    <label for="" class="ticketdata"><u>Estado</u></label>
                    <p class="ticketdata">{{ ticket.state }}</p>
                </div>
            </div>
            <div class="col-12">
                <div class="p-3">
                    <label for="" class="ticketdata"><u>Técnico Asignado</u></label>
                    <p class="ticketdata">{{ user.id }} - {{ user.userName }}</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="mb-3">
            <label for="tecnico" class="form-label"><i class="fa-solid fa-user"></i>Técnico</label>
            <select class="form-select" id="tecnico" required [(ngModel)]="selectedUserId" name="tecnico">
                <option value="">Seleccione un técnico</option>
                <option *ngFor="let user of users" [value]="user.id">{{user.id}} - {{user.userName}}</option>
            </select>
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-lg" (click)="asignTicket()">Asignar técnico</button>
        </div>
        <div class="mb-3">
            <label for="prioridad" class="form-label"><i class="fa-solid fa-bell"></i>Prioridad</label>
            <select class="form-select" id="prioridad" required>
                <option value="">Seleccione un grado de prioridad</option>
                <option *ngFor="let p of priorities" [value]="p">{{p}}</option>
            </select>
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-lg">Modificar Prioridad</button>
        </div>
        <div class="mb-3">
            <label for="estado" class="form-label"><i class="fa-solid fa-swatchbook"></i>Estado</label>
            <select class="form-select" id="estado" required>
                <option value="">Seleccione un estado</option>
                <option *ngFor="let s of states" [value]="s">{{s}}</option>
            </select>
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-lg">Actualizar Estado</button>
        </div>
        <hr>
        <h1>Comentarios</h1>
        <div class="mb-3">
            <label for="fichero" class="form-label"><i class="fa-solid fa-file"></i>Fichero</label>
            <input class="form-control" type="file" id="fichero">
        </div>
        <div class="mb-3">
            <label for="mensaje" class="form-label"><i class="fa-solid fa-message"></i>Mensaje</label>
            <textarea class="form-control" id="mensaje" rows="3" required></textarea>
        </div>
        <div class="mt-3 d-md-flex justify-content-end">
            <button type="submit" class="mt-1 btn btn-lg coment">Enviar Comentario</button>
            <app-modal></app-modal>
        </div>
        <div class="logotipe">
            <img src="/assets/img/IoTlogo.png" alt="">
        </div>
    </form>
</div>