*{
    padding: 5px;
}


.container{
    margin: 2rem auto;
    border-radius: 25px;
    background-color: #202124;
    width: 900px;
    padding: 20px;
    color:/* #141416*/ white;
    outline: none;
    box-shadow: none;
}

.ticketdata{
    color: #EFB810;
    font-size: 21px;
}

label{
    font-size: 20px;

}

p{
    font-size: 16px;
}

h1{
    
    color: #EFB810;
    text-align: center;
}
.btn{
    border-color: #D25454;
    color:black;
    background-color: #EFB810;
    width:10vw;
}

.btn:hover{
    color: white;
    background-color: #141416;
    border-color: white;
}


.logotipe{
    text-align: center;
    
}

  
img{
    width: 350px; 
    height: auto;
}

.coment{
    margin-left: 1vw;

}
