.btn {
    border-color: #D25454;
    color:black;
    background-color: #EFB810;
    margin-left: 1vw;
    margin-top: 20px;
  }
  
  .btn:hover{
    color: white;
    background-color: #141416;
    border-color: white;
  }