<div>
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Titulo</th>
        <th scope="col">Descripción</th>
        <th scope="col">Importancia</th>
        <th scope="col">Estado</th>
        <th scope="col">Hora reporte</th>
      </tr>
    </thead>
    <tbody>
      <!-- Primera incidencia -->
      <tr>
        <td scope="row">1</td>
        <td>Incidencia 1</td>
        <td>Descripción de la incidencia 1</td>
        <td>Alta</td>
        <td>Pendiente</td>
        <td>2024-01-29 10:00 AM</td>
      </tr>

      <!-- Segunda incidencia -->
      <tr>
        <td scope="row">2</td>
        <td>Incidencia 2</td>
        <td>Descripción de la incidencia 2</td>
        <td>Media</td>
        <td>En Proceso</td>
        <td>2024-01-29 11:30 AM</td>
      </tr>

      <!-- Tercera incidencia -->
      <tr>
        <td>3</td>
        <td>Incidencia 3</td>
        <td>Descripción de la incidencia 3</td>
        <td>Baja</td>
        <td>Resuelta</td>
        <td>2024-01-29 12:45 PM</td>
      </tr>

      <!-- Cuarta incidencia -->
      <tr>
        <td>4</td>
        <td>Incidencia 4</td>
        <td>Descripción de la incidencia 4</td>
        <td>Alta</td>
        <td>Pendiente</td>
        <td>2024-01-29 2:15 PM</td>
      </tr>

      <!-- Quinta incidencia -->
      <tr>
        <td>5</td>
        <td>Incidencia 5</td>
        <td>Descripción de la incidencia 5</td>
        <td>Media</td>
        <td>En Proceso</td>
        <td>2024-01-29 3:30 PM</td>
      </tr>

      <!-- Sexta incidencia -->
      <tr>
        <td>6</td>
        <td>Incidencia 6</td>
        <td>Descripción de la incidencia 6</td>
        <td>Baja</td>
        <td>Pendiente</td>
        <td>2024-01-29 4:45 PM</td>
      </tr>

      <!-- Séptima incidencia -->
      <tr>
        <td>7</td>
        <td>Incidencia 7</td>
        <td>Descripción de la incidencia 7</td>
        <td>Media</td>
        <td>En Proceso</td>
        <td>2024-01-29 5:30 PM</td>
      </tr>

    </tbody>
  </table>
</div>