<a class="btn btn2" (click)="goBack()" type="button"><i class="fa-solid fa-chevron-left"></i></a>
<div class="container">
    <h1 class="my-4">Incidencia</h1>
    <form>
        <div class="row gy-1">
            <div class="col-6">
                <div class="p-3">
                    <label class="ticketdata">Titulo</label>
                    <p class="font">{{ ticket.title }}</p>
                </div>
            </div>
            <div class="col-6">
                <div class="p-3">
                    <label class="ticketdata">Nombre del Usuario</label>
                    <p class="font">{{ ticket.name }}</p>
                </div>
            </div>
            <div class="col-6">
                <div class="p-3">
                    <label class="ticketdata">Email del Usuario</label>
                    <p class="font">{{ ticket.email }}</p>
                </div>
            </div>
            <div class="col-6">
                <div class="p-3">
                    <label class="ticketdata">Fecha de Creación</label>
                    <p class="font">{{ ticket.timestamp }}</p>
                </div>
            </div>
            <div class="col-6">
                <div class="p-3">
                    <label class="ticketdata">Prioridad</label>
                    <p class="font">{{ ticket.priority }}</p>
                </div>
            </div>
            <div class="col-6">
                <div class="p-3">
                    <label class="ticketdata">Estado</label>
                    <p class="font">{{ ticket.state }}</p>
                </div>
            </div>
            <div class="col-12">
                <div class="p-3">
                    <label class="ticketdata">Técnico Asignado</label>
                    <p class="font">{{ user.id }} - {{ user.userName }}</p>
                </div>
            </div>
        </div>
        <hr>
        <h1>Comentarios</h1>
        <div class="col-12" *ngFor="let message of messages">
            <div class="p-3">
                <label class="ticketdata"><b>Mensaje</b></label>
                <p class="font">{{ message.Content }}</p>
                <div *ngIf="message.AttachmentPaths && message.AttachmentPaths.length > 0">
                    <div *ngFor="let attachment of message.AttachmentPaths let last = last">
                        <button *ngIf="!last" type="button" class="btn" (click)="downloadAttachment(attachment)">Descargar Adjunto</button>
                    </div>
                </div>
            </div>
        </div>
    <form  [formGroup]="messageForm" (submit)="onSubmit()" enctype="multipart/form-data">
        <div class="mb-3 form-group">
            <label for="Attachments" class="form-label"><i class="fa-solid fa-file"></i>Fichero</label>
            <input class="form-control" type="file" id="Attachments" formControlName="Attachments" multiple (change)="onFileChange($event)">
            <div *ngIf="previewUrl">
                <img [src]="previewUrl" *ngIf="isImageSelected" alt="Vista previa del archivo" class="preview-image">
                <a [href]="previewUrl" *ngIf="!isImageSelected" target="_blank">Ver Archivo Adjunto</a>
            </div>
        </div>
        <div class="mb-3 form-group">
            <label for="Content" class="form-label"><i class="fa-solid fa-message"></i>Mensaje</label>
            <textarea class="form-control" id="Content" rows="3" formControlName="Content" required></textarea>
        </div>
        <div class="mt-3 d-md-flex justify-content-end">
            <button  [disabled]="!messageForm.valid" type="submit" class="mt-1 btn btn-lg coment">Enviar Comentario</button>
        </div>
        <div class="logotipe">
            <img src="/assets/img/IoTlogo.png" alt="">
        </div>
    </form>

