// src\app\pages\homepage\homepage.component.scss
*{
    padding: 5px;
  }
  
  
  ::-webkit-scrollbar {
      width: 8px;
    }
    
    ::-webkit-scrollbar-thumb {
      background-color: #6c757d;
      border-radius: 4px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
      background-color: #343a40;
    }
    
    ::-webkit-scrollbar-track {
      background-color: #f8f9fa;
    }
  
  h2{
      color: #EFB810;
      text-align: center;
  }
  .contenedor {
      margin: 2rem auto;
      border-radius: 25px;
      background-color: #202124;
      width: 900px;
      padding: 20px;
      color:/* #141416*/ white;
      outline: none;
      box-shadow: none;
      font-weight: 700;
      font-size: large;

     
    }
  
  .contenedor input:focus,
  .contenedor textarea:focus,
  .contenedor select:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color:#EFB810 ;
  }
  
  .container:active{
      border-color: white !important ; 
  }
  
  .logotipe{
      text-align: center;
      
  }
  
  .btn{
      border-color: #D25454;
      color:black;
      background-color: #EFB810;
  }
  
  .btn:hover{
      color: white;
      background-color: #141416;
      border-color: white;
  }
  
  img{
      width: 350px; 
      height: auto;
  }
  
.errorMsg {
  color: green;
  text-align: center;
}
  
  
  